{% extends "layout.html" %}

{% block title %}
    Income
{% endblock %}

{% block main %}

<div calss='card'>
    <div class="card-header">Income</div>
    <div class="card-body ">
        <form action="/income" method="post"  class="needs-validation well"  novalidate>
            <div class="form-row">
                <div class="form-group col-md-4">
                    <label class="form-check-label" for="type">Type</label>
                    <select class="form-control" name="type">
                        <option value="Salary">Salary</option>
                        <option value="Gift">Gift</option>
                        <option value="Credit">Credit</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
                <div class="form-group col-md-6">
                    <label class="form-check-label" for="amount">Amount</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupPrepend">$</span>
                        </div>
                        <input autocomplete="off" type="text"  class="form-control"  placeholder="Amount" name = "amount"  required>
                        <div class="invalid-feedback">
                            Please provide amount.
                        </div>
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    </div>
</div>
<script>
    (function() {
    'use strict';
    window.addEventListener('load', function() {
    var forms = document.getElementsByClassName('needs-validation');
    var validation = Array.prototype.filter.call(forms, function(form) {
    form.addEventListener('submit', function(event) {
    if (form.checkValidity() === false) {
    event.preventDefault();
    event.stopPropagation();
    }
    form.classList.add('was-validated');
    }, false);
    });
    }, false);
    })();
</script>

{% endblock %}